<div class="colored_line" style="background-color: {{ color }}"></div>
<div class="inner">
    {% if thumbnail.url %}
    <div class="thumbnail">
        <div class="wrapper">
            <img src="{{ thumbnail.url }}" alt="">
        </div>
    </div>
    {% endif %}
    <div class="main_content">
        {% if author.name or author.icon_url %}
        <div class="name_wrapper">
            {% if author.icon_url %}
            <div class="img">
                <img src="{{ author.icon_url }}">
            </div>
            {% endif %}
            {% if author.name %}
            <p class="name">{{ author.name }}</p>
            {% endif %}
        </div>
        {% endif %}
        {% if title %}
        <div class="title">
            <a {% if url %}href="{{ url }}"{% endif %}>{{ title }}</a>
        </div>
        {% endif %}
        {% if description %}
        <div class="description">
            {{ description }}
        </div>
        {% endif %}
        {% if fields | length %}
        <div id="fields">
            {% for field in fields %}
            <div class="field_zone">
                <div class="field">
                    <div class="field_name">{{ field.name }}</div>
                    <div class="field_value">{{ field.value }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if image.url %}
        <div class="img_element">
            <div class="wrapper">
                <img src="{{ image.url }}">
            </div>
        </div>
        {% endif %}
        {% if footer.text or footer.icon_url or timestamp %}
        <div class="footer">
            {% if footer.icon_url %}
            <div class="img">
                <img src="{{ footer.icon_url }}">
            </div>
            {% endif %}
            {% if footer.text %}
            <p class="text">{{ footer.text }}</p>
            {% endif %}
            {% if (footer.text or footer.icon_url) and timestamp %}
            <span class="decoration"></span>
            {% endif %}
            {% if timestamp %}
            <div class="timestamp">{{ timestamp | timestamp }}</div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
