{% import 'include/form.njk' as form %}

<h1>Setup your custom embed.</h1>
<p>Customize your embed from A to Z and export it in the language you want!</p>

{{ form.text("author_name", "Author name", "Some name") }}
{{ form.text("author_url", "Author url", "https://my-super-website.com/profile/") }}
{{ form.text("author_icon_url", "Author icon url", "https://my-super-website.com/profile-picture.png") }}

{{ form.sep }}

{{ form.color("color", "Color") }}
{{ form.text("title", "Title", "Some title") }}
{{ form.text("description", "Description", "Some description here") }}
{{ form.text("url", "Title Url", "https://my-super-website.com/") }}
{{ form.text("thumbnail_url", "Thumbnail url", "https://my-super-website/thumbnail.png") }}

{{ form.sep }}

<label>Fields</label>
<div id="fields_wrapper"></div>
<button class="btn green" onclick="addField()">Add field</button>

{{ form.sep }}

{{ form.text("image_url", "Image url", "https://my-super-website/content.jpg") }}

{{ form.sep }}

{{ form.text("footer_icon_url", "Footer icon url", "https://my-super-website/footer-icon.png") }}
{{ form.text("footer_text", "Footer text", "Some footer text here") }}

<div class="timestamp">
    {{ form.date("timestamp") }}
    <div class="checkbox">
        {{ form.checkbox("timestamp_auto") }}
        <label>Auto</label>
    </div>
</div>

{{ form.sep }}

<div class="export">
    <label>Export</label>
    <div class="export_inline">
        <select id="export_select" style="display: none;"></select>
        <button class="btn green" onclick="exp()">Export</button>
    </div>
    <pre id="out"></pre>
</div>
