.select {
    position: relative;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    
    .view {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 8px 10px;
        display: flex;
        color: #949aa4;

        > span {
            width: 100%;
        }
    }

    &.open {
        .view {
            display: none;
        }
    }

    &:not(.open) {
        .categories {
            display: none;
        }
    }

    .categories {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 100%;
        width: 100%;

        .cat {
            background: #202225;
            padding: 8px 10px;

            &:hover {
                background-color: #72767d;
            }
        }
    }
}
