* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --colored_line_color: rgb(255, 166, 0);
}
body {
    background-color: #36393f;
    display: flex;
}
.preview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 50vw;
}
.message {
    display: grid;
    grid-template-columns: 50px auto;
    color: #fff;
    overflow: hidden;
}
.user_profile .inner {
    height: 40px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.user_profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.user_infos {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fixed_infos {
    display: flex;
    align-items: center;
    gap: 5px;
}
.user_name {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.user_name:hover {
    text-decoration: underline;
}
.user_tag {
    background-color: #5865f2;
    font-size: .65em;
    padding: 3px 4px;
    border-radius: 3px;
    line-height: 100%;
    text-transform: uppercase;
}
.timestamp_infos {
    color: rgb(163, 166, 170);
    font-size: 12px;
    cursor: default;
}
.embed {
    grid-column: 2;
    min-height: 2rem;
    display: flex;
}
.colored_line {
    background-color: var(--colored_line_color);
    width: 4px;
    height: 100%;
    border-radius: 4px 0 0 4px;
}
.embed .inner {
    background-color: #2F3136;
    border-radius: 0 4px 4px 0;
    height: 100%;
    width: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: auto 80px;
}
.thumbnail {
    grid-row: 1;
    grid-column: 2;
    width: 80px;
}
.thumbnail .wrapper {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.thumbnail .wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_content {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    
    gap: 10px
}
.name_wrapper {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 0;
    gap: 8px;
}
.name_wrapper img {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.name_wrapper p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.title {
    font-weight: 600;
    font-size: 16px;
}
.title.clickable {
    color: #00b0f4;
    cursor: pointer;
}
.title.clickable:hover {
    text-decoration: underline;
}
.description {
    font-size: 13px;
}
.field_zone {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.field {
    flex: 1 1 0;
    width: 100px;
    min-width: 100px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.field_name {
    color: #72767d;
}
.field_value {
    text-overflow: ellipsis;
    overflow: wrap;
    max-width: 100%;
    
    overflow: hidden;
}
.img_element {
    display: flex;
}
.img_element .wrapper {
    max-width: 100%;
    overflow: hidden;
}
.img_element .wrapper img {
    border-radius: 4px;
    overflow: hidden;
}
.footer {
    display: flex;
    align-items: center;
    font-size: 11.05px;
    color: #72767d;
    gap: 5px
}
.footer .img {
    background-color: rebeccapurple;
    height: 20px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}
.footer .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .decoration {
    background-color: #3b3c42;
    height: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
}

form {
    background-color: #1a1b1e;
    width: 50vw;
    height: 100vh;
    padding: 30px 25px 25px
}
form h1 {
    color: #fff;
    margin-bottom: 15px;
}
form p {
    color: #72767d;
    margin-bottom: 50px;
}
form input {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: 2px solid #fff;
    color: #fff;
    margin-bottom: 18px;
}
form input::placeholder {
    color: rgb(182, 182, 182);
}
form input:focus {
    outline-color: #5865f2;
}
form input[type="color"]::after {
    background-color: #1a1b1e;
    content: "Color";
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(182, 182, 182);
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}
form .timestamp {
    background-color: #fff;
    color: #111;
    display: flex;
    gap: 30px;
    padding: 10px 25px;
    margin-bottom: 20px;
    border-radius: 5px;
}
form .timestamp .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    gap: 5px
}

form .timestamp .right {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 5px
}
form .timestamp .right input {
    outline: none;
    margin-bottom: 0;
}
form .timestamp .left input {
    margin-bottom: 0;
}
form .timestamp .right .input {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}
form .timestamp .left input,
form .timestamp .left input::placeholder {
    color: #1a1b1e;
} 

form .timestamp input[type="date"] {
    outline-color: #1a1b1e;
}