* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --colored_line_color: rgb(255, 166, 0);
}
body {
    background-color: #36393f;
    display: flex;
}
.preview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 50vw;
}
.message {
    display: grid;
    grid-template-columns: 50px auto;
    color: #fff;
    overflow: hidden;
}
.user_profile .inner {
    height: 40px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.user_profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.user_infos {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fixed_infos {
    display: flex;
    align-items: center;
    gap: 5px;
}
.user_name {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.user_name:hover {
    text-decoration: underline;
}
.user_tag {
    background-color: #5865f2;
    font-size: .65em;
    padding: 3px 4px;
    border-radius: 3px;
    line-height: 100%;
    text-transform: uppercase;
}
.timestamp_infos {
    color: rgb(163, 166, 170);
    font-size: 12px;
    cursor: default;
}
.embed {
    grid-column: 2;
    min-height: 2rem;
    display: flex;
}
.colored_line {
    background-color: var(--colored_line_color);
    width: 4px;
    height: 100%;
    border-radius: 4px 0 0 4px;
}
.embed .inner {
    background-color: #2F3136;
    border-radius: 0 4px 4px 0;
    height: 100%;
    width: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: auto 80px;
}
.thumbnail {
    grid-row: 1;
    grid-column: 2;
    width: 80px;
}
.thumbnail .wrapper {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.thumbnail .wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.main_content {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    
    gap: 10px
}
.name_wrapper {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 0;
    gap: 8px;
}
.name_wrapper img {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.name_wrapper p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.title {
    font-weight: 600;
    font-size: 16px;
}
.title.clickable {
    color: #00b0f4;
    cursor: pointer;
}
.title.clickable:hover {
    text-decoration: underline;
}
.description {
    font-size: 13px;
}
.field_zone {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.field {
    flex: 1 1 0;
    width: 100px;
    min-width: 100px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.field_name {
    color: #72767d;
}
.field_value {
    text-overflow: ellipsis;
    overflow: wrap;
    max-width: 100%;
    
    overflow: hidden;
}
.img_element {
    display: flex;
}
.img_element .wrapper {
    max-width: 100%;
    overflow: hidden;
}
.img_element .wrapper video,
.img_element .wrapper img {
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.footer {
    display: flex;
    align-items: center;
    font-size: 11.05px;
    color: #72767d;
    gap: 5px
}
.footer .img {
    background-color: rebeccapurple;
    height: 20px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}
.footer .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .decoration {
    background-color: #3b3c42;
    height: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
}

form {
    background-color: #36393F;
    width: 50vw;
    height: 100vh;
    padding: 30px 25px 25px;
    max-height: 100vh;
    overflow: auto;
}
form h1 {
    color: #fff;
    margin-bottom: 15px;
}
form p {
    color: #72767d;
    margin-bottom: 50px;
}
form input {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-radius: 3px;
    width: 100%;
    background-color: #202225;
    border: none;
    color: #fff;
    margin-bottom: 18px;
    margin-top: 5px;
}
form label {
    color: #838688;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
form input::placeholder {
    color: rgb(182, 182, 182);
}
form input:focus {
    outline: 2px solid #5865f2;
}
.separator {
    background-color: #72767d;
    height: 3px;
    margin: 15px 0;
    border-radius: 5px;
}
form .field_line {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
form .field_line input {
    margin-bottom: 0;
}
form .field_line .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}
form .field_line .checkbox label {
    line-height: 0px;
}
.btn {
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    color: #fff;
}
.btn.red {
    background-color: #F04747;
}
.btn.green {
    background-color: #43B581;
}
#fields_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.timestamp {
    display: flex;
    align-items: center;
    gap: 20px;
}
.timestamp input {
    margin-bottom: 0;
}
.timestamp .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}
.timestamp .checkbox label {
    margin-top: 5px;
}
::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
@media screen and (max-width: 870px) {
    .preview {
        width: 100%;
    }
    form {
        max-height: inherit;
        width: 100%;
        height: auto;
        overflow: hidden
    }
    body {
        flex-direction: column;
    }
}
input[type="checkbox"] {
    width: auto;
}
