---
lang: Python
lib: discord.py
---

{%- macro params(params, del=", ") -%}
    {%- set params = params | selectattr("value") -%}
    {%- for param in params -%}
        {{ param.name }}={{ '"' if not param.no_quotes }}{{ param.value }}{{ '"' if not param.no_quotes }}{{ del if not loop.last }}
    {%- endfor -%}
{%- endmacro -%}

embed = discord.Embed(
    {{ params(
        [
            { name: "colour", value: color },
            { name: "title", value: title },
            { name: "url", value: url },
            { name: "description", value: description | nl2n }
        ], ", \n    "
    ) }}
)
    {% if author.name or author.icon_url %}
    .set_author({{ params(
            [
                { name: "name", value: author.name },
                { name: "url", value: author.url },
                { name: "icon_url", value: author.icon_url }
            ], ", "
        ) }})
    {% endif %}
    {% if footer.text or footer.icon_url %}
    .set_footer({{ params(
        [
            { name: "text", value: footer.text },
            { name: "icon_url", value: footer.icon_url }
        ]
    ) }})
    {% endif %}
    {% if image.url %}
    .set_image(url="{{ image.url }}")
    {% endif %}
    {% if thumbnail.url %}
    .set_thumbnail(url="{{ thumbnail.url }}")
    {% endif %}
    {% for field in fields -%}
    {% if field.name or field.value %}
    .add_field({{ params(
        [
            { name: "name", value: field.name },
            { name: "value", value: field.value },
            { name: "inline", value: ('True' if field.inline else 'False'), no_quotes: true }
        ]
    ) }})
    {% endif %}
    {% endfor %}
