{% macro text(id, label, placeholder) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
<input type="text" placeholder="{{ placeholder }}" id="input_{{ id }}">
{% endmacro %}

{% macro color(id, label) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
<input type="color" id="input_{{ id }}">
{% endmacro %}

{% macro datetime(id, label) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
<input type="datetime-local" id="input_{{ id }}">
{% endmacro %}

{% macro checkbox(id, label) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
<input type="checkbox" id="input_{{ id }}">
{% endmacro %}

{% set sep = '<div class="separator"></div>' | safe %}
