{% macro input(type, id, label, placeholder) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
<input id="input_{{ id }}" type="{{ type }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}>
{% endmacro %}

{% macro textarea(id, label, placeholder) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
<textarea id="input_{{ id }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}></textarea>
{% endmacro %}

{% set sep = '<div class="separator"></div>' | safe %}
