{% macro input(type, id, label, placeholder, maxlength) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
{% if type == 'text' %}<div class="input_wrapper">{% endif %}
    <input id="input_{{ id }}" type="{{ type }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if maxlength %}data-maxlength="{{ maxlength }}"{% endif %}>
    {% if type == 'text' %}
    <span id="char_limit_{{ id }}" class="char_limit">-85</span>
    {% endif %}
{% if type == 'text' %}</div>{% endif %}
{% endmacro %}

{% macro textarea(id, label, placeholder) %}
{% if label %}
<label for="input_{{ id }}">{{ label }}</label>
{% endif %}
<div class="input_wrapper">
    <textarea id="input_{{ id }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}></textarea>
    <span id="char_limit_{{ id }}" class="char_limit">-85</span>
</div>
{% endmacro %}

{% set sep = '<div class="separator"></div>' | safe %}
